$silver-sand: #bcbdbd;
$dark-blu: #1E2D36;
$blue-lagoon: #048383;
$tradewind: hsla(183, 32%, 53%, 0.35);
$fountain-blue: #52babb;
$woodsmoke: #111117;
$surfiegreen: hsla(181, 87%, 27%, 0.2);
$abbey-01: hsla(225, 3%, 31%, 0.173) ;
$shark: #1d2528b4;
$gray-nurse: #e7eee9
